<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/main.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<form id="form" action="">
  <input type="text" id="todoItem">
  <div class="add" onclick="addItem()">add todo item</div>
</form>
  <ul>
    <% for(let i=0; i < todoList.length; i++) { %>
      <li><%= todoList[i].item%></li>
    <% } %>
  </ul>
</body>
</html>